/* @import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --black: #000;
    --white: #fff;
    --theme-main: #4D76CD;
    --text-light: #a3aed0;
    --text-dark: #2b3674;
    --text-medium: #030229;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    font-family: var(--font-regular-sf);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
    text-decoration: none;
    list-style: none;
    margin-bottom: 0px;
}

a,
.transition,
input[type="submit"] {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

a,
a:hover {
    color: var(--blue-light);
    cursor: pointer;
    text-decoration: none;
}

input[type="submit"] {
    backface-visibility: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    cursor: pointer;
}

textarea,
input,
select {
    border-radius: 0;
    resize: none;
    box-sizing: border-box;
    width: 100%;
}

table,
tr,
td,
th {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

table {
    width: 100%;
}

.w-160 {
    width: 160px;
}

.background-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img {
    max-width: 100%;
}

p {
    font-size: 16px;
    color: var(--black);
    line-height: 26px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #6D6D6D;
    font-family: "Schibsted Grotesk", sans-serif;
    /* text-align: center; */
}

body {
    width: 100%;
    counter-reset: gap;
    overflow-x: hidden;
}

.preloader {
    background-color: var(--white);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
}

.loader {
    width: 35px;
    aspect-ratio: 1;
    --_g: no-repeat radial-gradient(farthest-side, #EA1F27 94%, #fff);
    background: var(--_g) 0 0, var(--_g) 100% 0, var(--_g) 100% 100%,
        var(--_g) 0 100%;
    background-size: 40% 40%;
    animation: spine 0.5s infinite;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

@keyframes spine {
    100% {
        background-position: 100% 0, 100% 100%, 0 100%, 0 0;
    }
}

*::-moz-selection {
    background: var(--theme-main);
    color: #fff;
}

*::selection {
    background: var(--theme-main);
    color: #fff;
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    background-color: #00000096;
}

.header-section{
    background-color:#0013d2;
    height: 70px;
}

.header-content{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.header-content img{
    width:70px;
    height:auto;
}

.header-content h3{
    font-size:30px;
    font-weight:500;
}

.navbar{
    display:flex;
    gap:20px;
    align-items:end;
}

.navbar .li .a{
    align-items:end;
}

.navbar{
    padding-right:20px;
}

.navbar li a {
    color:#ffff;
}

.hero-section{
    background:url('../images/hero-section.jpg') no-repeat left;
    background-size:cover;
    height:600px;
}

.hero-content{
    padding:130px 50px 100px 50px;
}

.hero-content h3{
    font-size: 50px;
    color:#0013d2;
}

.my-projects-cont{
    padding:130px 50px 100px 50px;
}

.my-projects-cont h3{
    text-align:center;
    font-size:50px;
    margin-bottom:50px;
}

.my-projects-cont img{
    width:270px;
    border:1px solid #000;
    padding:30px;
}

.projects{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
}